<div class="container">
  <div class="row">
    <div class="panel panel-info">

      <div class="panel-heading">
        <div class="post-title">New Post</div>
      </div>

      <div class="panel-body">
        <%= form_with(model: post, local: true) do |form| %>
          <% if post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
              <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :title %><br>
            <%= form.text_field :title %>
          </div>

          <div class="form-group">
            <%= form.hidden_field :user_id, value: current_user.id %>
          </div>

          <div class="form-group">
            <%= form.label :blog_entry %><br>
            <%= form.text_area :blog_entry %>
          </div>
      </div>

      <div class="panel-footer">
        <div class="actions">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
