<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Latest Blog Posts</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="post-title"><%= post.title %></div>
          </div>
          <div class="panel-body post-panel-body">
            <% if post.user.avatar.url.nil? %>
              <%= image_tag 'default-avatar.jpg', class: "avatar" %>
            <% else %>
              <%= image_tag post.user.avatar.url, class: "avatar" %>
            <% end %>
            <div class="post-author">
              By: <%= link_to post.user.username, user_posts_path(name: post.user.username), class: "username-link" %>
            </div>
            <div class="post-content">
              <%= post.blog_entry.html_safe %>
            </div>
            <% if !post.attachment.url.nil? %>
              <p><%= image_tag post.attachment.url, class: "img-responsive post-attachment" %></p>
            <% end %>
          </div>
          <div class="panel-footer post-footer">
            <div class="btn-group" role="group">
                <%= link_to 'Show', post, type: 'button', class: 'btn btn-primary' %>
                <%= link_to 'Edit', edit_post_path(post), type: 'button', class: 'btn btn-warning' %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, type: 'button', class: 'btn btn-danger' %>
            </div>
            <div class="timestamp">
              posted on <%= post.created_at.strftime("%F, around %l:%M%P") %>
              <% if post.created_at != post.updated_at %>
                <br>edited on <%= post.updated_at.strftime("%F, around %l:%M%P") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-nav btn-success" %>
<%= paginate @posts %>
