<p id="notice"><%= notice %></p>
<div class="container"
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="post-title"><%= @post.title %></h3>
      </div>
      <div class="panel-body">
        <% if @post.user.avatar.url.nil? %>
          <p><%= image_tag 'default-avatar.jpg', class: "avatar" %>
        <% else %>
          <p><%= image_tag @post.user.avatar.url, class: "avatar" %>
        <% end %>
        By <%= @post.user.username %></p><br>
        <p class="post-content"><%= @post.blog_entry %></p>
      </div>
      <div class="panel-footer post-footer">
        <%= link_to 'Edit', edit_post_path(@post), type: 'button', class: 'btn btn-warning' %>
        <div class="timestamp">
          posted on <%= @post.created_at.strftime("%F, around %l:%M%P") %>
          <% if @post.created_at != @post.updated_at %>
            <br>edited on <%= @post.updated_at.strftime("%F, around %l:%M%P") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="comments" class="well">
      <%= render 'comments/form', comment: @comment %>
      <ul class="list-group">
        <% @post.comments.each do |comment| %>
          <li class="list-group-item">
            <strong><%= comment.user.username %></strong> commented:<br>
            <div class="comment"><%= comment.comment_entry %></div>
            <div class="timestamp">
              on <%= comment.created_at.strftime("%F, around %l:%M%P") %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to 'Back', posts_path, type: 'button', class: 'btn btn-nav btn-success' %>
</div>
